
.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#D80000;}
.st1{fill:none;stroke:#999999;stroke-width:2;stroke-miterlimit:10;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#DBDBDB;}
.st3{fill:#B0CEFF;}
.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#44C7F4;}
.st5{fill-rule:evenodd;clip-rule:evenodd;fill:#AFF8FF;}
.st6{fill-rule:evenodd;clip-rule:evenodd;fill:#E3E5E1;}
.st7{fill-rule:evenodd;clip-rule:evenodd;fill:#E6D5C2;}
.st8{fill-rule:evenodd;clip-rule:evenodd;fill:#187BFF;}
.st9{fill-rule:evenodd;clip-rule:evenodd;fill:#EBEDE8;}
.st10{fill:#999999;}
.st11{fill-rule:evenodd;clip-rule:evenodd;}
.st12{fill-rule:evenodd;clip-rule:evenodd;fill:#21B9EC;}
.st13{fill:#333333;}
.st14{fill-rule:evenodd;clip-rule:evenodd;fill:#FCFFF8;}
.st15{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.st16{fill:#D1D3CF;}
.st17{fill:#D80000;}
.st18{fill-rule:evenodd;clip-rule:evenodd;fill:#CCCCCC;}
.st19{fill:#DBDBDB;}
.st20{fill:#A9998D;}
.st21{fill-rule:evenodd;clip-rule:evenodd;fill:#003384;}
.st22{fill-rule:evenodd;clip-rule:evenodd;fill:#009FD7;}
.st23{fill-rule:evenodd;clip-rule:evenodd;fill:#00ADEE;}

.st-transparent{
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:#fff;
	fill-opacity: 0;
}


.st22, .st23, .st12, .st4
	animation-name waving
	animation-fill-mode both
	animation-timing-function cubic-bezier(0.4, 0, 0.2, 1)
	animation-iteration-count infinite

.st22
	animation-duration 6s
	animation-delay 0
	
.st23
	animation-duration 8s
	animation-delay 2s

.st12
	animation-duration 10s
	animation-delay -1s
	
.st4
	animation-duration 4s
	animation-delay 1s

.boat-surfs
	transform-origin center 650px

.interaction-spots
	transform-origin center 631px

.boat-surfs,
.interaction-spots
	animation surfing 4s 0s infinite ease both
	
.interaction-points > g
	transform-origin center center
	transition transform .5s
	cursor pointer
	
.interaction-points > g:hover
	transform scale(1.5)

@keyframes waving
	0%
		transform translate(0,0)
	25%
		transform translate(50px,-40px)
	50%
		transform translate(100px,-20px)
	75%
		transform translate(50px,0px)
	100%
		transform translate(0,0)

@keyframes surfing
	0%
		transform translateY(0) rotate(0)
	25%
		transform translateY(-20px) rotate(-5deg)
	50%
		transform translateY(20px) rotate(5deg)
	75%
		transform translateY(-20px) rotate(-10deg)
	100%
		transform translateY(0) rotate(0)